.social-media-gallery-container1 {
  display: contents;
}
 
.social-media-gallery-container2 {
  display: none;
}
 
.social-media-gallery-container3 {
  display: contents;
}
 
.social-media-gallery-container4 {
  display: none;
}
 
.social-media-gallery-container5 {
  display: contents;
}
